.nav-header-container {
  height: 100%;
  position: absolute;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  height: 100%;
  user-select: none;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.drawer-container {
  width: 200px;
  height: 100%;
  background-color: #424242;
  position: fixed;
  margin: 64px 0px 0px 0px;
}

.header-unauthrized-container ul {
  display: flex;
}
.header-unauthrized-container ul li {
  display: block;
  margin: 0px 5px;
  cursor: pointer;
}
.mat-divider {
}
.horizontal-seperator {
  border-bottom: solid 0.5px;
  border-bottom-color: #424242;
  margin: 5px 0px;
}

.example-toolbar {
  justify-content: space-between;
  background-color: #424242;
}
