<div *ngIf="authrized">
  <mat-toolbar class="example-toolbar">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="drawer-container" mode="side">
      <mat-list>
        <mat-list-item style="cursor: pointer" *ngFor="let item of sideBar">
          <button
            mat-button
            style="text-align: start; color: black; width: 100%; float: left"
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>{{item.icon}}</mat-icon>
            {{ item.title }}
          </button>
          <mat-divider class="horizontal-seperator"></mat-divider>
        </mat-list-item>
      </mat-list>
      <!-- <mat-list-option *ngFor="let item of sideBar">
        {{ item.title }}
      </mat-list-option> -->
    </mat-drawer>
  </mat-drawer-container>
</div>
<div *ngIf="!authrized">
  <mat-toolbar class="example-toolbar">
    <div class="header-unauthrized-container">
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li>
          <a routerLink="/signup">Registration</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</div>
