<app-header></app-header>
<mat-card class="login-main-container">
  <h3>Login</h3>
  <mat-form-field>
    <input
      matInput
      type="text"
      (keyup)="handleinput($event, 'email')"
      placeholder="email@gmail.com"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      (keyup)="handleinput($event, 'password')"
      placeholder="123*****"
    />
  </mat-form-field>
  <div class="example-button-row">
    <button (click)="handleLogin()" mat-raised-button color="primary">
      Login
    </button>
  </div>
  <p>{{ loginObj.email }}</p>
  <p>{{ loginObj.password }}</p>
</mat-card>
