.login-main-container {
  margin: 0 auto;
  min-width: 100px;
  max-width: 300px;
  margin-top: 100px;
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
