<!-- <div class="user-add-form-container">
  <h2>Create Post</h2>
  <mat-card>
    <mat-form-field style="margin: 5px" class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput (keyup)="handleinput($event, 'title')" [value]="newUser.firstName" placeholder="Ex.  what is html" />
    </mat-form-field>

    <mat-form-field style="margin: 5px" class="example-full-width" appearance="fill">
      <mat-label>Post Body</mat-label>
      <input matInput (keyup)="handleinput($event, 'body')" [value]="newUser.lastName" placeholder="Ex. html is a programming language :P" />
    </mat-form-field>
    <button *ngIf=!isUpdateing mat-button (click)="addUser()" style="border: 1px solid; margin: 5px; width: 20%"
      class="example-icon" aria-label="Example icon-button with menu icon">
      Add
      <mat-icon>add icon</mat-icon>
    </button>
    <button *ngIf=isUpdateing mat-button (click)="addUser()" style="border: 1px solid; margin: 5px; width: 20%"
      class="example-icon" aria-label="Example icon-button with menu icon">
      Update
      <mat-icon>edit icon</mat-icon>
    </button>
  </mat-card>
</div>
<div *ngIf="users.length > 0">
  <p>table</p>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>firstName</th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName | firstWordCapital }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>lastName</th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastName | firstWordCapital }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>CreatedAt</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | DateFormate: 'MYD' }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="addNewItem(element.id)">
          <mat-icon>delete icon</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="updateItem(element.id)">
          <mat-icon>edit icon</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
  </table>
  <table>
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i;">
        <td>{{user.firstName}}</td>
      </tr>
    </tbody>
  </table>
  <app-table [users]="users" [tableColumns]="tableColumns"
    (updateItemEvent)="updateHandle($event)"></app-table>

  </div> -->